*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black-dark: rgb(30,30,30);
    --black-medium: #696969;
    --black-light: rgb(30,30,30);
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 20px;
}

.todo{
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: white;
    margin: 0px;
}

/*particulas*/
#particles-js {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

/*HEADER*/
.contenido-header{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-image: url(../imagenes/logo.png);
    
    background-position: center;
    background-size: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenido-header .fondo{
    width: 0%;
    height: 100%;
    max-width: 200%;
    background-image: url(../imagenes/fondo2.png);
    position: relative;
    z-index: -2;
}

/*Menu Navegacion*/
.menu{
    background-color: var(--black-dark);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', serif;
    font-weight: 700;
    margin-bottom: 60px;

}

.menu a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 26px;
    background-color: var(--black-dark);
    margin: 0 10px;
    transition: .5s ease all;
    color: var(--gray-light);
    text-decoration: none;
}

.menu a:hover {
    transform: translateY(18px);
    background-color: var(--black-light);
}

/*¿Quienes Somos?*/
.nosotros {
    margin-bottom: 60px;
}

.subtitulo {
    font-size: 20px;
    color: var(--black-dark);
    font-family: 'Orbitron', Serif;
    font-weight: 400;
    z-index: 2;
    /*text-transform: uppercase;*/
    margin-bottom: 20px;
}

.subtitulo span {
    background-color: var(--gray-light);
    padding: 0 15px;
    z-index: 99;
    position: relative;
}

.subtitulo::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--black-dark);
    position: relative;
    top: -29px;
    z-index: 1;
}

.nosotros .titulo {
    width: 70%;
    font-family: 'Orbitron';
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.nosotros .enlace {
    display: inline-block;
    margin-top: 40px;
    color: var(--black-light);
    font-family: 'Orbitron';
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: .3s ease all;
}

.nosotros .enlace:hover {
    text-decoration: none;
    letter-spacing: 3px;
    border-bottom: 1px solid var(--black-light);
}

/*productos*/
.productos {
    background: var(--gray-light);
    padding: 20px;
    margin-bottom: 60px;
}

.productos .titulo {
    width: 70%;
    font-family: 'Orbitron';
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.productos .producto {
    position: relative;
    width: 100%;   
}

.productos .overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black-dark);
    overflow: hidden;
    transition: .5s ease;
}

.productos .producto:hover .overlay {
    width: 100%;
    opacity: .8;
}

.productos .producto .overlay-texto{
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--white);
    font-size: 18px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.productos .btn-productos {
    background-color: var(--black-dark);
    color: #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Orbitron';
    font-weight: 900;
    border: 2px solid transparent;
    transition: .3s ease;
}

.productos .btn-productos:hover {
    background-color: transparent;
    border: 2px solid var(--black-light);
    color: var(--black-light);
}

/*separador*/

.separador {
    width: 100%;
    height: 250px;
    background-image: url(../imagenes/separador1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separador p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Noto Serif', serif;
    padding: 10px;
}

/*servicios*/
.servicios {
    margin-bottom: 60px;
}

/*Carousel*/
.carousel__contenedor {
    position: relative;
}

.carousel__anterior, .carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #000;
    opacity: 100%;
    transition: .3s ease all;
}

.carousel__anterior:hover, .carousel__siguiente:hover{
    transform: scale(1.2);
}

.carousel__anterior:active, .carousel__siguiente:active{
    outline: none !important; 
    -moz-outline-style: none !important;
}

.carousel__anterior:focus, .carousel__siguiente:focus{
    outline: none !important; 
    -moz-outline-style: none !important;
}

.carousel{
    margin-bottom: 60px;
}
.carousel__anterior{
    left: 2%;
}

.carousel__siguiente{
    right: 2%;
}
.carousel__lista{
    overflow: hidden;
    width: 90%;
    height: auto;
}

.carousel__elemento img{
    max-width: 500px;
    height: 100%;
}

/*Socios*/



/*Contacto*/
.contacto {
    margin-bottom: 60px;
}

.redes-sociales{
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: var(--black-dark);
}

.redes-sociales img{
    padding: 5px;
    width: 50px;
    transition: .3s ease all;
}

.redes-sociales img:hover{
    transform: scale(1.2);
}

.empresas{
    width: 300px;
    height: 300px;
}
/*mediaqueries*/
@media screen and (max-width:992px){
    body{
        font-size: 18px;
    }
    p{
        font-size: 20px;
    }

    .nosotros .titulo, .productos .titulo{
        font-size: 30px;
    }
    
    .menu a{
        font-weight: 600;
        font-size: 20px;
        padding: 10px 25px;
    }
    .productos .producto .overlay-texto{
        font-size: 18px;
    }
}

@media screen and (max-width:600px){
    body{
        font-size: 18px;
    }

    p{
        font-size: 20px;
    }

    .nosotros .titulo, .productos .titulo{
        font-size: 30px;
    }
     
    .menu a{
        font-weight: 500;
        font-size: 18px;
        padding: 5px 5px;
    }

    .iconos{
        width: 230px;
    }
    .productos .producto .overlay-texto{
        font-size: 16px;
    }
}

@media screen and (max-width:490px){
    body{
        font-size: 18px;
    }

    p{
        font-size: 20px;
    }

    .nosotros .titulo, .productos .titulo{
        font-size: 28px;
    }
    .productos .producto .overlay-texto{
        font-size: 13px;
    }
    .menu a{
        font-size: 15px;
        padding: 5px 5px;
    }

    .iconos{
        width: 230px;
    }
}

@media screen and (max-width:360px){
    body{
        font-size: 13px;
    }

    p{
        font-size: 15px;
    }

    .nosotros .titulo, .productos .titulo{
        font-size: 20px;
    }

    .productos .producto .overlay-texto{
        font-size: 10px;
    }

    .separador p{
        font-size: 15px;
    }
    .menu a{
        font-weight: 400;
        font-size: 10px;
        padding: 5px 5px;
    }

    .empresas{
        width: 250px;
        height: 250px;
    }
    
    .iconos{
        width: 230px;
    }
}

@media (orientation:portrait){
    .contenido-header{
    background-image: url(../imagenes/logoVertical.png);
    background-attachment: scroll;
    } 
}